<app-header [SearchBar]="true" [SignOutButton]="false" [MenuButton]="true" title="Inicio"></app-header>

<ion-content [fullscreen]="true">
  <div class="container" id="main-content">
    

    <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content 
        pullingIcon="arrow-down" 
        refreshingSpinner="crescent"
        pullingText="Desliza hacia abajo para actualizar" 
        refreshingText="Actualizando..."
        style="background: #f0f0f0; color: #007aff; --pulling-icon-color: #007aff; --refreshing-spinner-color: #ff6347;">
      </ion-refresher-content>
    </ion-refresher>
      
      
  
  
      <div class="cards">
        <app-user-list (refreshComplete)="onRefreshComplete($event)"></app-user-list>
      </div>
  
      <!-- <ion-button (click)="singOut()">
        Cerrar sesión
      </ion-button> -->
  </div>

</ion-content>