<app-header BackButton="/auth" title="Recuperar contraseña"></app-header>
<ion-content>

  <div class="container">

    <div class="titulo">
      <img src="assets/img/dev-logo.png" alt="logo">
      <h1>Recupera tu contraseña</h1>
    </div>

    
    
    <div class="d-flex-center">
      
      <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
        
        <app-custom-input autocomplete="email" icon="mail-outline" [control]="form.controls.email" type="email"
          label="Correo"></app-custom-input>

        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">

          <div *ngIf="form.controls.email.errors?. ['required']">El correo es requerido</div>
          <div *ngIf="form.controls.email.errors?. ['email']">Ingrese un correo valido</div>

        </div>

        <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
          Recuperar
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
        <br>
        
        
      </form>
      
    </div>
    <p class="ion-text-center">Te enviarémos un correo para restablecer tu contraseña.</p>

  </div>
</ion-content>