<ion-header>
  <ion-toolbar>
    <div slot="start">
      <img src="assets/img/dev-logo-solo.png" alt="logo">
    </div>
    <ion-title>Bienvenido a DevGram</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Hola! Bienvenido a DevGram</h2>
  <p>En esta aplicación podrás encontrar profesionales informáticos altamente capacitados para ayudarte a hacer realidad tus sueños de modernizar tu negocio.</p>
  <p>Por otro lado, si eres programador, este es el lugar perfecto para dar a conocer al mundo tus habilidades en el desarrollo.</p>
  <img src="assets/img/dev-logo.png" alt="logo">
  <h2>¡Únete a nuestra comunidad! 💯</h2>
</ion-content>
