<app-header BackButton="/select" title="Registro"></app-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <Header>
      <img src="../../assets/img/dev2.png" alt="">
      <h1>Registrate como Desarrollador</h1>
      <strong class="capitalize">¡Queremos saber a que te dedicas!</strong>
    </Header>

    <div class="d-flex-center">

      <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

        <!-- =========== Nombre ===========  -->
        <app-custom-input autocomplete="name" icon="person-outline" [control]="form.controls.name" type="text"
          label="Nombre">
        </app-custom-input>

        <div class="validators" *ngIf="form.controls.name.errors && form.controls.name.touched">

          <div *ngIf="form.controls.name.errors?. ['required']">El nombre es requerido</div>
          <div *ngIf="form.controls.name.errors?. ['minlenght']">El nombre debe tener al menos 4 caracteres</div>

        </div>

        <!-- =========== Email =========== -->
        <app-custom-input autocomplete="email" icon="mail-outline" [control]="form.controls.email" type="email"
          label="Correo"></app-custom-input>

        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">

          <div *ngIf="form.controls.email.errors?. ['required']">El correo es requerido</div>
          <div *ngIf="form.controls.email.errors?. ['email']">Ingrese un correo valido</div>

        </div>

        <!-- =========== Password =========== -->
        <app-custom-input [control]="form.controls.password" icon="lock-closed-outline" type="password"
          label="Contraseña"></app-custom-input>

        <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">

          <div *ngIf="form.controls.password.errors?. ['required']">La contraseña es requerida</div>

        </div>

        <!-- =========== Especialidad =========== -->
        
          <!-- <ion-label>Especialidad</ion-label> -->
          <ion-select label="Especialidad" label-placement=""  [formControl]="form.controls.speciality" placeholder="Selecciona una especialidad">
            <ion-select-option value="des-app-moviles">Des. de Apps Móviles</ion-select-option>
            <ion-select-option value="ciencia-de-datos">Ciencia de Datos</ion-select-option>
            <ion-select-option value="bases-de-datos">Bases de Datos</ion-select-option>
            <ion-select-option value="ciberseguridad">Ciberseguridad</ion-select-option>
            <ion-select-option value="des-de-software">Des. de Software</ion-select-option>
            <ion-select-option value="redes-y-sistemas">Redes y Sistemas</ion-select-option>
            <ion-select-option value="IA">Inteligencia Artificial</ion-select-option>
          </ion-select>
        

        <div class="validators" *ngIf="form.controls.speciality.errors && form.controls.speciality.touched">
          <div *ngIf="form.controls.speciality.errors?.['required']">La especialidad es requerida</div>
        </div>

        <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
          Registrate
          <ion-icon slot="end" name="person-add-outline"></ion-icon>
        </ion-button>


      </form>

    </div>
  </div>
</ion-content>


