#container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    max-height: 100%;
}

.d-flex-center{
    margin-top: auto;
    margin-bottom: auto;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 150px;
        height: 150px;
        filter: invert(100);
    }
    margin-bottom: -40px;
    margin-top: auto;
}


header .capitalize{
    color: black;
}

ion-select{
    border-color: #e0e0e0;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    padding-inline: 20px;
    height: 56px;
    
}
ion-select::part(label) {
    margin-right: 8px; /* Ajusta el espacio entre el label y el placeholder */
}
//============================================================
/* Estilos para ion-item (contenedor de select) */
// ion-item.select-item {
//     --background: #f4f4f4;
//     --border-radius: 8px;
//     --padding-start: 12px;
//     margin-bottom: 15px;
//     border: 1px solid #ccc; /* Borde para igualarlo con los otros campos */
//     border-radius: 8px; /* Bordes redondeados */
//     padding: 0;
//   }
  
//   /* Estilos para la etiqueta (label) */
//   ion-label {
//     font-weight: 500;
//     color: #666;
//     padding-left: 12px;
//     flex: 0 0 120px; /* Espacio reservado para la etiqueta */
//     font-size: 16px;
//   }
  
//   /* Estilos para ion-select */
//   ion-select {
//     --placeholder-color: #888;
//     --color: #333;
//     border-radius: 8px; /* Bordes redondeados */
//     padding: 12px; /* Espaciado interno */
//     background-color: transparent; /* Fondo transparente */
//     width: 100%;
//     text-align: start;
//   }
  
//   ion-select::part(text) {
//     font-size: 16px;
//     font-family: inherit;
//     color: inherit;
//   }
  
//   /* Eliminar sombra y borde en dispositivos móviles */
//   ion-select {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     box-shadow: none;
//   }
  
  
  