<app-header BackButton="/auth" title="Contacto"></app-header>
<ion-content>
  <div class="container">

    <div class="titulo">
      <h1>Contáctanos</h1>
      <img src="assets/img/dev-logo.png" alt="logo">
    </div>


    <div class="contacto">

      <h4>Contactate con nostros por cualquiera de estos medios para resolver tus dudas.</h4>

      <div class="contacto-item">
        <ion-icon name="call-outline"></ion-icon>
        <p> 
          <a href="tel:912345678">9 1234 5678</a>
        </p>
      </div>
      <div class="contacto-item">
        <ion-icon name="mail-outline"></ion-icon>
        <p> 
          <a href="mailto:contacto&#64;gmail.com">contacto&#64;gmail.com</a>
        </p>
      </div>
      <div class="contacto-item" routerLink="mapa">
        <ion-icon name="location-outline"></ion-icon>
        <p>Av. Siempre Viva 123</p>
      </div>

      <h6>Haz click en cualquiera de las opciones para contactarte o conocer la ubicación de nuestras oficinas.</h6>
    </div>


    <div class="map">
      
    </div>


  </div>

</ion-content>